html {
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: darken($bg-milk, 10%);
}

::-webkit-scrollbar-thumb {
  background: $bg-blue;
}

::-moz-selection {
  color: $bg-blue;
  background: rgba(0, 0, 0, 0.5);
}

::selection {
  color: $color-white;
  background: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  color: $color-black;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1;
  background: $bg-milk;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  color: $color-black;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: $bg-milk;
  padding: 20px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

a {
  color: $color-white;
  text-decoration: none;
}

strong {
  font-weight: bold;
}