$font-family: 'Bad Script', cursive;

$color-white: #fff;
$color-black: #000;

$bg-milk: #eae2b7;
$bg-blue: #003049;
$bg-black: #0d1117;
$bg-red: #e63946;
$bg-green: #229631;
$bg-orange: #f6ae2d;

$switcher-day: #ffd75e;
$switcher-night: #12354d;

$night-nav: #161b22;
$night-body: #0d1117;

$font-size: 14px;
$font-size-20: 20px;
$font-size-24: 24px;