$font-family: 'Bad Script', cursive;

$color-white: #fff;
$color-black: #000;

$bg-milk: #eae2b7;
$bg-blue: #003049;

$switcher-day: #ffd75e;
$switcher-night: #12354d;

$night-nav: #161b22;
$night-body: #0d1117;