.full-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;

  .button__icon {
    transition: all 0.3s ease-in-out;
  }

  &:hover .button__icon {
    transform: rotate(180deg);
  }

  @media (max-width: 677px) {
    display: none;
  }
}

:fullscreen {
  .full-screen {
    background-color: $bg-blue;
  }
}