.full-screen {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background-color: $bg-blue;

  .button__icon {
    transition: all 0.3s ease-in-out;
  }

  &:hover .button__icon {
    transform: rotate(180deg);
  }

  @media (max-width: 677px) {
    display: none;
  }
}

:fullscreen {
  .full-screen {
    bottom: 20px;
  }
}